* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e0a800;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
:root {
  --main-orange: #e0a800;
  --main-orage-hover: #af8c21;
  --main-dark: rgba(20, 20, 20);
  --main-deep-dark: rgba(0, 0, 0);
  --main-grey: rgba(153, 153, 153);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  background: #000000;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
